<% layout('./boilerplate/boilerplate') %> 
<body>
    
    <form action="/blog" method="post">
        <label for="title">Blog Title</label>
        <input type="text" name="title" id="blog[des]">
        <label for="blog">Blog description</label>
        <input type="text" name="content" id="blog[des]">
        <button type="submit">Add</button>
    </form>
</body>
